@import "./assets/fonts/Circe/stylesheet.css"
=before($x)
  content: ""
  position: absolute
  width: $x
  height: $x
  border-radius: 50%
  background: #e51
  left: -$x*1.2
:root
  font-family: Circe, Avenir, Helvetica, Arial, sans-serif
  font-size: 16px
  line-height: 24px
  font-weight: 400

  color-scheme: light dark
  color: rgba(255, 255, 255, 0.87)
  background-color: #242424

  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-text-size-adjust: 100%

#root
  max-width: 1720px
  margin: 0 auto
  position: relative

*, *::before, *::after
  box-sizing: border-box

a
  font-weight: 500
  color: #fff
  text-decoration: inherit

a:hover
  color: #f5f5ff

body
  margin: 0
  padding: 0
  background: #000
  color: #fff
  height: 100vh
  background: url("./assets/images/main.jpg") no-repeat

h1
  font-size: 3.2em
  line-height: 1.1

button
  display: block
  border: none
  border-radius: 40px
  padding: 0.6em 1.2em
  font-size: 1em
  font-weight: 500
  font-family: inherit
  background: #090815
  box-shadow: inset 0 0 68px #ffffff9f
  backdrop-filter: blur(48px)
  cursor: pointer
  transition: border-color 0.25s
  width: max(307px,15vw)
  margin: 0 auto
  color: #fff

.main-container
  width: min(1722px,96%)
  margin: 0 auto

.pin
  position: absolute
  font-size: 25px
  cursor: pointer
  will-change: transform
  height: 30px
  width: 220px
  &:hover
    color: red
  & > .inner-span::before
    +before(25px)

.light
  font-size: 20px
  color: #777
  &> .inner-span::before
    +before(20px)

.lighter
  font-size: 15px
  color: #aaa
  &> .inner-span::before
    +before(15px)

.container
  position: relative
  height: 80vh
  overflow: hidden

.inner-span
  position: absolute
  transition: top 1s, left 1s
  text-align: left

.panel
  --shiftx: 0%
  --shifty: 0%
  position: absolute
  background: #eeeb
  backdrop-filter: blur(4px)
  border-radius: 30px
  padding: 2em
  width: min(772/1920*100vw, 772px)
  height: 400px
  // display: none
  opacity: 0
  transform: scale(0) translate(var(--shiftx),var(--shifty))
  transform-origin: 0 0
  z-index: -1
  transition: opacity 1s linear, transform .3s .3s ease-out
  will-change: opacity transform
  &[data-show="true"]
    opacity: 1
    transform: scale(1) translate(var(--shiftx),var(--shifty))
    // display: block
    z-index: 3

.header
  display: flex
  align-items: center
  height: 130px

.bigmenu
  display: flex
  column-gap: 99px
  margin-top: 182px
  width: min-content
  margin-left: auto
.bigmenu-item
  text-transform: uppercase
  text-align: left
  width: min-content
  font-size: 30px
  line-height: 1.5
  position: relative
  width: 150px
  &::before
    content: attr(data-number)
    position: absolute
    color: #ffffff55
    bottom: 100%
    right: 100%
    font-weight: 800
    font-size: 20px

.main-title
  margin-top: 189px

.splide__slide
  transition: .4s
  &.is-active
    z-index: 3

  &:not(.is-active)
    transform: scale(0.75)
    filter: brightness(0.75) grayscale(.5)

.splide__list
  align-items: flex-start

// .service .splide__slide
//   transition: transform .4s, filter .4s
//   &.is-active
//     z-index: 3

//   &:not(.is-active)
//     transform: scale(0.8)
//     filter: brightness(0.75) grayscale(.5)

.slide-img
  border-radius: 15px
  overflow: hidden

.splide__slide
  display: flex
  justify-content: center

.breads
  margin-bottom: 60px
  position: relative
  margin-left: 35px
  margin-top: 60px
  font-size: 24px
  &::before
    content: ""
    background: #7A0404
    position: absolute
    top: 0
    bottom: 0
    width: 5px
    left: -30px
    font-weight: 700

.partners
  display: flex
  align-items: center
  justify-content: space-between

.certificates .splide__pagination
  bottom: -1.5em

button.splide__arrow
  width: 110px
  box-shadow: none
  background: url("./assets/svg/Arrow.svg") no-repeat
  background-position: center
  backdrop-filter: none

  & > *
    display: none

  &--prev
    left: 0
    transform: rotateY(0deg) translateX(-100%)

  &--next
    transform: rotateY(180deg) translateX(-100%)
    transform-origin: center
    right: 0

@media (prefers-color-scheme: light)
  :root
    color: #213547
    background-color: #ffffff

  a:hover
    color: #b8b8f1
