@import "./assets/fonts/Circe/stylesheet.css"
@import "./sass/_panel"
@import "./sass/_breads"
@import "./sass/_calendar"
@import "./sass/_bigmenu-item"
@import "./sass/_button"
@import "./sass/records/_record"
@import "./sass/records/_record-list"
@import "./sass/_header"
@import "./sass/splide/_splide"
@import "./sass/_pin"

=before($x)
  content: ""
  position: absolute
  width: $x
  height: $x
  border-radius: 50%
  background: #e51
  left: -$x*1.2
:root
  font-family: Circe, Avenir, Helvetica, Arial, sans-serif
  font-size: 16px
  line-height: 24px
  font-weight: 400

  color-scheme: light dark
  color: rgba(255, 255, 255, 0.87)
  background-color: #242424

  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-text-size-adjust: 100%

#root
  // max-width: 1720px
  // margin: 0 auto
  position: relative

*, *::before, *::after
  box-sizing: border-box

a
  font-weight: 500
  color: #fff
  text-decoration: inherit

a:hover
  color: #f5f5ff

body
  margin: 0
  padding: 0
  background: #000
  color: #fff
  height: 100vh
  // background: url("./assets/images/main.jpg") no-repeat

main
  padding: 0
  margin: 0
  width: 100%
  height: 100vh
  overflow: hidden
  background-position: 100% 100%
  background-repeat: no-repeat
  background-size: cover

.page-container
  max-width: 1720px
  margin: 190px auto 0

h1
  font-size: 3.2em
  line-height: 1.1

.main-container
  width: min(1722px,96%)
  margin: 0 auto

.light
  font-size: 20px
  color: #777
  &> .inner-span::before
    +before(20px)

.lighter
  font-size: 15px
  color: #aaa
  &> .inner-span::before
    +before(15px)

.container
  position: relative
  height: 80vh
  overflow: hidden

.inner-span
  position: absolute
  transition: top 1s, left 1s
  text-align: left

.bigmenu
  display: flex
  column-gap: 99px
  margin-top: 182px
  width: min-content
  margin-left: auto

.main-title
  margin-top: 360px

.partners
  display: flex
  align-items: center
  justify-content: space-between
  & > *
    list-style: none

.records
  display: flex
  align-items: center
  justify-content: space-between

  &__item
    display: flex
    flex-direction: column
    align-items: center
    row-gap: 50px
    // justify-content: space-between

  &__val
    font-size: 100px
    font-weight: bold
    color: #C3D0DF

  &__name
    font-size: 24px

.about
  &__title
    font-size: 36px
    font-weight: bold
    color: #C3D0DF
    margin: 60px 0 54px

@media (prefers-color-scheme: light)
  :root
    color: #213547
    background-color: #ffffff

  a:hover
    color: #b8b8f1
